<!doctype html>
<html>
 <head>

   <title>Mood Mixer</title>


   <link rel="stylesheet" href="../static/main.css">
   <link rel="stylesheet" href="../static/navigationbar.css">
   <link rel="stylesheet" href="../static/navbar.css">
   <link rel="shortcut icon" href="">
   <script src="../js/animation.js"></script>
   <script src="../js/jquery-3.3.1.min.js"></script>
   <script src="../js/bootstrap.min.js"></script>
   <link href="../css/social-media.css" rel='stylesheet'>
   <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
   <SCRIPT LANGUAGE="JavaScript" SRC="script.js"></SCRIPT>
   <script type="text/javascript" src="https://www.google.com/jsapi"></script>
   <link rel="icon" href="../images/salsalady.jpg">

 </head>


  <body>
    <div id="root">

      <div class="opening-screen">

        <div class="navbar">
          <div class="dropdown">
            <button class="dropbtn">Mood Mixer</button>

            <!--  <a href="../html/helloworld.html"<span> <img src="../images/salsalady.jpg" width="40" height="40"</a> -->

            <div class="dropdown-content">
              <a href="/templates/dictionary.html">Dictionary</a>
                <a href="/templates/tell-friends.html">Tell your friends!</a>
            </div>
          </div>
        </div>

      <div class="content-wrapper">
        <div class="content-main">

          <p>Welcome to Mood Mixer! Determine your mood depending on your top tracks</p>

        </div>

    <!--    <a href="{{url_for('index')}}" class="button">Match your music habits</a> -->

        </div>

      </div>

</div>




  </div>

  </div>

</html>
